<div class="tabWrppr">
    <div class="container">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
            <mat-tab label="First" value="warn">
                <div class="grid-container">
                    <mat-grid-list cols="4" rowHeight="400px">
                        @for (tab of tabsItems; track tab.id) {
                        <div class="row tabsItem">
                            @for (card of cards | async; track card) {
                                <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
                                    <mat-card class="dashboard-card">
                                        <div class="tabsImg">
                                            <mat-card-header>
                                                <mat-card-title>
                                                    product
                                                    {{tabsItems.title}}
                                                </mat-card-title>
                                            </mat-card-header>
                                            <img class="img" src="../../../../assets/6.png" alt="">
                                        </div>
                                        <mat-card-actions class="dashboard-card-content">
                                            <div>
                                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, nostrum!</p>
                                            </div>
                                        </mat-card-actions>
                                    </mat-card>
                                </mat-grid-tile>
                                }
                        </div>
                    }
                    </mat-grid-list>
                </div>
            </mat-tab>
            <mat-tab label="Second">Content 2</mat-tab>
            <mat-tab label="Third">Content 3</mat-tab>
        </mat-tab-group>
    </div>
</div>