<div class="topSliderWrppr ">
  <div class="wrppr">
    <!-- slider -->
    <owl-carousel-o [options]="customOptions">
      @for (slider of bannerSliders; track slider.id) {
      <ng-template carouselSlide>
        <!-- Grid List -->
        <mat-grid-list cols="2" rowHeight="650px">
          <mat-grid-tile>
            <div class="">
              <mat-card class="left-card">
                <div class="card-content">
                  <mat-card-header>
                    <mat-card-subtitle class="title-font">{{slider.subtitle}}</mat-card-subtitle>
                    <mat-card-title class="title-font">{{slider.title}}</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <span>{{slider.description}}</span>
                  </mat-card-content>
                  <mat-card-actions >
                    <button mat-button mat-raised-button class="custom-button title-font ">shop now</button>
                  </mat-card-actions>

                </div>
              </mat-card>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="card-img">
              <mat-card class="img-slider">
                <img  matCardImage [src]="slider.imgUrl">
              </mat-card>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-template>
      }
    </owl-carousel-o>
  </div>
</div>