.bannerWrppr{
    background-color: #d9c9e3;
    padding: 50px 0px;
    .banner{
        position: relative;
        width: 100%;
        height: 400px;
        .bannerImg{
            width: 70%;
            height: -webkit-fill-available;
            position: absolute;
            right: 0;

        }
    }
}