<div class="content">
    <div class="row">
        <div class="offer">
            <h1 class="title-font">Exclusive Fragrance Offer <Strong>50%</Strong> Off</h1>
            <p class="decFont">Indulge your senses with our exclusive fragrance offer! Elevate your personal style and leave a lasting impression with our carefully curated selection of captivating scents. From floral and fruity to woody and oriental, discover the perfect fragrance to match your mood and personality. Immerse yourself in a world of luxury and sophistication as you explore our collection of renowned perfumes and colognes. Don't miss this opportunity to find your signature scent and make every moment unforgettable.
                 Unlock the essence of elegance with our fragrance offer today!</p>

                 <button class="title-font" mat-button mat-raised-button>get now</button>
        </div>
        <div class="offerbanner">
            <img  class="offerImg" src="../../../../assets/3.png" alt="">
        </div>
        
    </div>
</div>
